<%- include('header') %>

<div class="container d-flex flex-column my-4 p-4 
border border-primary shadow p-3 mb-5 bg-body rounded">
  <h1><%= activeDetailsCard.title %></h1>
  <p><%= activeDetailsCard.subtitle %></p>
  <p><%= activeDetailsCard.content %></p>
</div>
